<h2>Edit Profile</h2>

    <%= form_for(:user, html: { method: :put, class: 'form-horizontal' }) do |f| %>

    <div class="form-group">
        <%= f.label :avatar, class: 'col-sm-2 control-label'  %>
        <div class="col-sm-6">
        	<div class="round-image-200"><%= image_tag(current_user.avatar.url(:medium)) %></div>
            <%= f.file_field :avatar, class: "btn btn-file" %>
        </div>
    </div>


    <div class="form-group">
        <%= f.label :name, class: 'col-sm-2 control-label'  %>
        <div class="col-sm-6">
            <%= f.text_field :name, autofocus: true, class: 'form-control'  %>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :email, class: 'col-sm-2 control-label'  %>
        <div class="col-sm-6">
            <%= f.email_field :email, class: 'form-control'  %>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
            <%= f.submit "Update", class: "btn btn-primary" %>
        </div>
    </div>
    <%end%>
<script type="text/javascript">
    $('input[type=file]').bootstrapFileInput();
</script>

